<% include partials/header %>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hi, I'm Ryan Warren</h1>
        <p class="lead text-muted">
            I'm a product manager, consultant, and entrepreneur.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Ut fermentum ipsum in tellus placerat, quis pharetra est rutrum. 
            In sed mi ut nisl rutrum pellentesque id quis lacus. 
        </p>
        <hr>
        <p>
            <a href="#" class="btn btn-primary my-2">Learn More</a>        
        </p>
    </div>
</section>


<% include partials/footer %>