<% include partials/header %>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connect</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Welcome / Who I am -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-2">Hi, I'm Ryan Warren</h1>
            <hr>
            <p>I am a product manager, consultant, and entrepreneur.</p>
            <a href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
        </div>
    </div>
</div>

<!-- Skills/Experience -->

<!-- Interests Overview -->

<!-- Book Cards -->

<!-- Course Overview -->

<!-- Course Card -->

<!-- Resume -->

<!-- Connect with me -->

<% include partials/footer %>